{% extends "mychat/base.html" %}

{% block content_class %} class="w-[90%] mx-auto" {% endblock %}
{% block content %}
   <header class="flex items-center mt-2">
      <a href="/contacts" class="text-3xl inline-flex items-center">
         <iconify-icon icon="mdi:keyboard-arrow-left"></iconify-icon>
      </a>
      <span class="flex-1 text-center">添加朋友</span>
      <div class="w-10"></div>
   </header>

   <div id="search-container" x-data="{ search: 'xylin', loading: false, notFound: false }" class="mt-3 ml-5"
   >
      <form hx-get="/users" hx-target="#search-results"
            hx-trigger="submit"
            @htmx:before-request.camel="loading=true"
            @htmx:after-request.camel="loading=false"
            @htmx:response-error.camel="notFound=true"
      >
         <div class="relative" id="search-input">
            <iconify-icon icon="mdi:search"
                          class="absolute left-15 top-1/2 -translate-y-1/2 text-xl text-gray-400"></iconify-icon>
            <input type="text" name="username" placeholder="搜索账号" class="w-full pl-21 rounded-lg bg-gray-100"
                   x-model="search"
            >
         </div>

         <div id="search-results" class="mt-3">
            <button type="submit" x-show="search.trim() !== '' && !loading && !notFound" class="inline-flex"
                    id="search-prompt">
               <iconify-icon icon="mdi:account-plus" class="text-2xl"></iconify-icon>
               <span class="pl-2">搜索: <span x-text="search"></span></span>
            </button>

            <div id="searching-indicator" class="text-center" x-show="loading">
               <iconify-icon icon="line-md:loading-twotone-loop" class="text-3xl"></iconify-icon>
            </div>

            <div id="not-found" x-show="notFound">
               找不到用户: <span x-text="search"></span>
            </div>
         </div>
      </form>
   </div>
   <script type="module">
       //document.querySelector("input[name=contact_id]").value = 'xylin'
   </script>
{% endblock %}
