{% extends "mychat/base.html" %}

{% block content %}
   <div id="app" class="h-screen box-border pb-16 flex flex-col w-[70vw] mx-auto">
      <header class="text-center text-lg bg-gray-100">
         {% block app_title %}
         {% endblock %}
      </header>
      <div id="app-content" class="mt-3 flex-1">
         {% block app_content %}
         {% endblock %}
      </div>
   </div>

   <div id="dock" class="dock">
      <a href="/conversations" class="indicator">
         <img src="{% url 'iconify_svg' 'mdi' 'message' %}" />

         </iconify-icon>
         <span class="dock-label">消息</span>
         <span class="indicator-item badge badge-secondary badge-xs" id="messageCounter">
            {{ user.messages_unread_count }}
         </span>
      </a>
      <a href="/contacts">
         <img src="{% url 'iconify_svg' 'mdi' 'account-details' %}" />
         <span class="dock-label">通讯录</span>
      </a>
      <a href="/profile">
         <img src="{% url 'iconify_svg' 'mdi' 'account' %}" />
         <span class="dock-label">我的</span>
      </a>

   </div>
   <script type="module">
       function isActiveLink(a) {
           const linkPath = new URL(a.href, window.location.origin).pathname;
           const currentPath = window.location.pathname;

           return linkPath === currentPath;
       }

       document.querySelectorAll("#dock>a").forEach(a => {
           if (isActiveLink(a)) {
               a.classList.add('dock-active')
           }
       })
   </script>
{% endblock %}