{% extends "mychat/base.html" %}

{% block content %}
   <div id="app-content">
      {% block app_content %}
      {% endblock %}
   </div>

   <div id="dock" class="dock">
      <a href="/">
         <iconify-icon icon="mdi:home"></iconify-icon>
         <span class="dock-label">主页</span>
      </a>
      <a href="/contacts">
         <iconify-icon icon="mdi:account-details"></iconify-icon>
         <span class="dock-label">联系人</span>
      </a>
      <a href="/profile">
         <iconify-icon icon="mdi:account"></iconify-icon>
         <span class="dock-label">我的</span>
      </a>
      <a href="/transaction-logs">
         <span class="dock-label">记录</span>
      </a>
   </div>
   <script type="module">
       function isActiveLink(a) {
           const linkPath = new URL(a.href, window.location.origin).pathname;
           const currentPath = window.location.pathname;

           return linkPath === currentPath;
       }

       document.querySelectorAll("#dock>a").forEach(a => {
           if (isActiveLink(a)) {
               a.classList.add('dock-active')
           }
       })
   </script>
{% endblock %}