{% extends "mychat/app/base.html" %}

{% block app_title %} 通讯录 {% endblock %}

{% block app_content %}
   <div class="flex justify-end">
      <a href="/contacts/add">
         <img src="{% url 'iconify_svg' 'mdi' 'plus' %}" />
      </a>
   </div>
   <div class="hover:bg-gray-200 flex gap-2">
      <img src="{% url 'iconify_svg' 'mdi' 'account-plus' %}" />
      新的朋友
   </div>
   <hr class="my-2">
   <ul class="divide-y divide-gray-300">
      {% for c in contact_list %}
         <li
            class="py-2 hover:bg-gray-200"
         >
            {% include "mychat/partials/avatar.html" with avatar_url=c.user.avatar.url %}
            {{ c.remark }}
         </li>
      {% endfor %}
   </ul>
{% endblock %}