{% extends "mychat/app/base.html" %}

{% load user_tags %}
{% block app_title %} 通讯录 {% endblock %}
{% block app_content %}
   <div class="text-right">
      <a href="/contacts/add">
         <iconify-icon icon="mdi:add-circle"></iconify-icon>
      </a>
   </div>
   <div class="hover:bg-gray-200">
      <iconify-icon icon="mdi:account-plus"></iconify-icon>
      新的朋友
   </div>
   <hr class="my-2">
   <ul>
      {% for c in contact_list %}
         <li
            class="mb-2 hover:bg-gray-200 {% if not forloop.first %} border-t border-t-gray-500 pt-2{% endif %}"
         >
            {% user_avatar %}
            {{ c.remark }}
         </li>
      {% endfor %}
   </ul>
{% endblock %}