{% extends "mychat/base.html" %}

{% block content_classes %} class="w-[90%] mx-auto" {% endblock %}

{% block content %}
   <header class="flex items-center mt-2">
      <a href="{% block back_url %}{% endblock %}" class="text-3xl inline-flex items-center">
         <iconify-icon icon="mdi:keyboard-arrow-left"></iconify-icon>
      </a>
      <span class="flex-1 text-center">
         {% block popup_title %}

         {% endblock %}
      </span>
      <div class="w-10"></div>
   </header>

   {% block popup_content %}
   {% endblock %}
{% endblock %}
