{% extends base_layout %}

{% block body_content_styles %}flex items-center justify-center{% endblock %}

{% block body_content %}
   <div class="h-[80%] w-100">
      <header class="py-3 text-center bg-gray-100">
         欢迎使用 MyChat
      </header>

      <div class="bg-base-200 rounded-box border mt-4 py-3">
         <form action="" method="post" class="w-[80%] mx-auto">
            {% csrf_token %}
            {{ form }}
            <div class="flex flex-col mt-3">
               <button type="submit" class="btn btn-neutral mt-2">登录</button>
               <a href="/" class="btn">返回</a>

            </div>
         </form>
      </div>
      <script type="module">
          document.querySelector('input[name=username]').value = 'user1'
          document.querySelector('input[name=password]').value = '123456'
      </script>
   </div>
{% endblock %}
