<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MyChat</title>

   {% if request.META.HTTP_X_SERVED_BY == 'nginx' %}
      <script type="module" src="/vite/@vite/client"></script>
      <script type="module" src="/vite/static/main.js"></script>
   {% else %}
      <script type="module" src="http://localhost:5173/vite/@vite/client"></script>
      <script type="module" src="http://localhost:5173/vite/static/main.js"></script>
   {% endif %}

</head>
<body>

<div id="body-content" class="w-screen h-screen {% block body_content_styles %}{% endblock %}">
   {% block body_content %}
   {% endblock %}
</div>

{% if request.user.is_authenticated %}
   <script>
      {% constants_to_client %}
   </script>
{% endif %}
</body>
</html>
