<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>MyChat</title>

   {% if request.META.HTTP_X_SERVED_BY == 'nginx' %}
      <script type="module" src="/vite/@vite/client"></script>
      <script type="module" src="/vite/static/main.js"></script>
   {% else %}
      <script type="module" src="http://localhost:5173/vite/@vite/client"></script>
      <script type="module" src="http://localhost:5173/vite/static/main.js"></script>
   {% endif %}

</head>
<body>

<div id="body-content" class="w-screen h-screen {% block content_styles %}{% endblock %}">
   {% block body_content %}
   {% endblock %}
</div>
{% if request.user.is_authenticated %}
   {% load static %}
   <script src="{% static 'django_eventstream/eventsource.min.js' %}"></script>
   <script src="{% static 'django_eventstream/reconnecting-eventsource.js' %}"></script>
   <script>
       document.addEventListener('alpine:init', () => {
           Alpine.store('user', {
               unreadMessages: 0,
               unreadFriendRequests: 0,
           })
       })
       var es = new ReconnectingEventSource('{% url 'user-events' user.id %}')
       es.addEventListener('friend-request-received', function (e) {
           console.log(e);
           Alpine.store('user').unreadFriendRequests += 1
       }, false);
   </script>
{% endif %}
</body>
</html>
